$primaryLighter: #a26791;
$primaryLight: #7e4e71;
$primary: #523249;
$primaryDark: #331f2d;
$primaryDarker: #0d080b;

$secondaryLighter: #bf9b9d;
$secondaryLight: #a77679;
$secondary: #815355;
$secondaryDark: #644041;
$secondaryDarker: #3e2829;

$tertiaryLighter: #f0ece5;
$tertiaryLight: #d96fbf;
$tertiary: #c3b299;
$tertiaryDark: #ac9572;
$tertiaryDarker: #8d7653;
